image: gitlab.ibr.cs.tu-bs.de:4567/vss/teaching/v_bs/docker-image:latest

variables:
  IGNORE_REQUIREMENTS: "1"

stages:
  - build
  - test
  - present

default:
  before_script:
    - ln -fs blatt6 code

build-code:
  stage: build
  script:
    - make -C blatt6/concat
    - make -C blatt6/ticker
    - exit 0
    - cd code && make
  # since we test ticker and concat independently, it's fine if the build
  # for one of them fails (we check this again in the test stage anyhow).
  allow_failure: true

run-tests-concat:
  stage: test
  script:
    - cd blatt6/concat && python3 tests/unittest.py --json ".result.json"
  artifacts:
    when: always
    expire_in: 1 day
    paths:
      - blatt6/concat/.result.json
  allow_failure: true

run-tests-ticker:
  stage: test
  script:
    - cd blatt6/ticker && python3 tests/unittest.py --json ".result.json"
  artifacts:
    when: always
    expire_in: 1 day
    paths:
      - blatt6/ticker/.result.json
  allow_failure: true

run-tests:
  stage: test
  needs:
    - run-tests-concat
    - run-tests-ticker
  script:
    - echo failed > blatt6/.result.txt
    - cd blatt6 && env PYTHONPATH=./ticker/tests ./make-result ./concat/.result.json ./ticker/.result.json
  artifacts:
    when: always
    expire_in: never
    paths:
      - blatt6/.result.txt

present-own:
  stage: present
  allow_failure: true
  needs: ["run-tests"]
  script: >
    echo "Checking eligibility for present-own...";
    RESULT=$(cat code/.result.txt | tr -d '\n');
    echo "Result: $RESULT";
    if [ "$RESULT" = "own" ]; then
      echo "Eligible for present-own.";
    else
      echo "Not eligible for present-own.";
      exit 1;
    fi

present-ml:
  stage: present
  needs: ["run-tests"]
  script: >
    echo "Checking eligibility for present-ml...";
    RESULT=$(cat code/.result.txt | tr -d '\n');
    echo "Result: $RESULT";
    if [ "$RESULT" = "ml" ] || [ "$RESULT" = "own" ]; then
      echo "Eligible for present-ml.";
    else
      echo "Not eligible for present-ml.";
      exit 1;
    fi
